<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post_list</title>
</head>
<body>

<div>
            <h1><a href="/">Первый блог</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Репка</a></h2>
            <p>Репка — русская народная сказка, которая знакома каждому ребенку с малых лет. Записанная и опубликованная в 1863 году «Репка» А. Афанасьевым имеет цепочные действия, ясные даже малышу, поэтому можно читать сказку с раннего возраста.
                Произведение рассказывает о том, как важная работа заставляет взглянуть друг на друга по-другому. Она научит юного читателя не стесняться просить о помощи, помогать тем, кто слабее, и даст понять, что вместе с любой задачей справиться легче.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Сивка-Бурка</a></h2>
            <p> «Сивка-Бурка» — сказка, на которой выросло немало детей. В ней рассказывается о необычном происшествии среди обычных дней: кто-то ворует пшеницу на полях.
                Сторожить поле на ночь уходят по очереди три сына крестьянина. Младшего все зовут Иванушка-дурачок, а двое старших братьев над ним постоянно потешаются. Однако только именно он поймал вора. Им был необычный конь Сивка-Бурка, который за свободу обещал служить Ивану.
                Благодаря волшебным умениям Сивки-Бурки простой крестьянский паренек смог выиграть все состязания и жениться на царевне. Сказка учит добру, трудолюбию, сообразительности и верности своим обещаниям.</p>
        </div>

</body>
<html>

</html>
